[Unit]
Description=Flask-project
[Service]
User=jenkins
ExecStart=/var/lib/jenkins/workspace/flask_project/script/installation.sh

[Install]
WantedBy=multi-user.target